# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_PKB_CENTAL
    def_bool $(shields_list_contains,pkb_dongle)

config SHIELD_PKB_LEFT
    def_bool $(shields_list_contains,pkb_left)

config SHIELD_PKB_RIGHT
    def_bool $(shields_list_contains,pkb_right)